.button {
    border: none;
    margin: 0;
    padding: 21px 34px;
    width: auto;
    overflow: visible;
    background: transparent;
    color: #E4E5EA;
    font-size: 1em;
    background-color:#4077F3;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
