.footer {
    &__name {
        text-transform: uppercase;
        color: #656566;
        font-size: 0.875em;
        font-weight: 700;
    }

    &__col-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: fit-content;
        max-width: 100%;
        max-height: 175px;
        margin-top: 10px;
        margin-right: -52px;

        & > * {
            margin-top: 10px;
            margin-right: 52px;
        }

        &--incr-indent {
            & > * {
                margin-top: 20px;
            }

            & > *:first-child {
                margin-top: 10px;
            }
        }
    }

    &__col--right {
        margin-left: auto;
        text-align: right;
    }
}

@media (max-width: 768px) {
    .footer {
        background: #000;
    }
    .footer__name {
        font-size: 0.75em;
    }

    .footer__col-links {
        & > * {
            margin-right: 28px;
        }
    }
}